{% load staticfiles %}
<html>
    <head>
        <title>Django 部落格</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <!-- <div> -->
        <div class="page-header">
            <h1><a href="">Django 部落格</a></h1>
        </div>
        <!-- {% for post in posts %} -->
        <!-- <div> -->
            <!-- <p>發布時間: 26.07.2017, 18:00</p>
            <h2><a href="">我的第一篇部落格</a></h2>
            <p>莪一姝埮隃葴丌戧貑厹，聇亍柌庲媋睒亍蓎尐仜。尐栦孢梋昜鸃愫綍刐庄苭犿岦盱帊鉖乜矷慖萷。涬一咮眯淼詵乇銎髶亓，硊乜昴娾尌獉亍耤丏氻。气袓虮飥苪灠煠蛵尥刐昴佧怓刲呁朠乇妱墘徯。厹捘狚莨氠籪傮趌夼忏毘吘杶洰旴楋兀斨馻椯。仈宧刲桷挕襻筭嗏优庄胐抌迍咍佤蛷乜咁畽窞。卬垿斻帾炵羉跫綀扡汌恉吤泭怳囥徯乇歾窨搟。</p>
        </div>

        <div>
            <p>發佈時間: 27.07.2017, 19:00</p>
            <h2><a href="">我的第二篇部落格</a></h2>
            <p>离一洠釹傌鳧亍滽噷夃，崝兀峞紽崶瑐亍箖勼玊。巿眝冼勖衁欓彀嗌扢扥挓豸侘昅芏葴乇坯慺跴。陫一洺虖菏楏屮觫嶰卬，眵乜侻赹猋僁乜瞃冇扐。莛一弇盓揤觟兀榙嶮仈，烿屮郈晢聐煚乜嗺尐扐。詏呤庄樿媹燅忕一寊閈茳苃氕胑乜，滉喥丌狚俔瓡矺宁屮芠蒬柷夬姏。軘一炟痏氰瑄乇嫨諻丏，畤屮俜痐揄筦乇綩旡氻。焋一氡崮婽椲乇碫廨尐，涺乇矨桾媌僋兀銂殳戉。喁肏彴匴隓橦幵一菋舲猁肵阞昢亍，愯晹屮怭郕搋姃丼亍炃瘕姷勼帙。卬栳枙蚾郱鷽溮禂扤邙枮邠阼厒吥楒兀芞廙蜅。</p> -->
            <!-- <p>發佈時間: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text }}</p> -->
            <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>發佈時間: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text }}</p>
                        </div>
                    <!-- {% endfor %} -->
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>